body {
    background: orange;
    color: white;
    text-align: center;
    font-family: cambria;
}

h2 {
    font-size: 30px;
    max-width: 600px;
    margin: auto;
}

.heading {
    border:3px solid cyan ;
}
.orange {
    background: orange;
}
.black {
    background: black;
}
.cyan {
    background: cyan;
}
.border {
    border: 3px solid cyan;
    padding: 20px;
}
#text {
    line-height: 30px;
    letter-spacing: 10px;
    padding: 20px;
}
